/*About page start*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{

    background-color: antiquewhite;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;    
}
   
   
 .navbar{
        display: flex;
        list-style-type: none;
        padding: 10px;
        justify-content: space-around;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        margin: 50px 20px 50px 20px;
    }

#logo{
    height: 5rem;
    width: 8rem;
    margin-left: 20px;
 }
h1{

    text-align: center;
    margin: 0px 20px 5px 20px;
    color: rgb(134, 18, 18);
    text-shadow: 2px 2px #e46b6b;
    background-color: antiquewhite;
    
}

.list{
    font-size: larger;
    justify-content: left;
    color: black;
    margin-top: 150px;
    text-align: left;
    font-weight: 900;
    font-size: 70px;
    list-style-type: none;
    color: rgb(134, 18, 18);
    text-shadow: 2px 2px #e46b6b;

}

.ranch{
    display: flex;
    height: 30rem;
    width: 60rem;
    position: fixed;
    opacity: .5;
    top: 10%;
    left: 30%;
    width: 100%;
    box-shadow: 10px 5px 10px 10px rgba(165, 42, 42, 0.548) ;
    

}
.footer{
    position: fixed;
    width: 100%;
    margin-top: 100px;
    height: 200px;
    background-color: black;
    text-align: center;
    display: flex;
    top: 80%;
}
.footer li{
flex: 1;
justify-content: space-around;
align-items: center;
border-right: 1px solid white;
border-left: 1px solid white;
height: fit-content;

}

.footer p{
flex: 1;
bottom: 80%;

}

.footertext, .footerlogos, .TM{
    color: white;
text-decoration: none;
 }

 p{
    margin-top: 50px;
 }